@utility btn {
  @apply rounded-none;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
  transform: skewX(-25deg);
}
